* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, rgb(153, 209, 233), rgb(240, 217, 124));
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cityInput {
  margin: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
}
#cityInput:focus {
  outline: none;
}
#searchBtn {
  margin-left: 0.25rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
}
#searchBtn:hover {
  background-color: skyblue;
}

#weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1.5rem 2.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  width: 400px;
}

.city-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin: 2rem 0 1rem 0;
  text-shadow: 1px 1px 4px rgba(244, 244, 244, 0.2);
}
